.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 9%);
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* Center links horizontally and vertically */
.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#open {
    height: 100vh;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

#open a {
    width: 100%;
    text-align: center;
}

.skills-container {
    margin: 5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.skill-card {
    height: 10rem;
    width: 10rem;
    background-color: rgb(30, 30, 30);
    box-shadow: 10px 10px 20px rgba(224, 224, 224, 0.25);
    /* border: 1px solid red; */
}

@media only screen and (max-width: 900px) {
    .navbar a {
        width: 70px;
    }

    .links {
        display: none;
    }

    .navbar.expanded .links {
        display: flex; /* Show links when navbar is expanded */
        flex-direction: column;
    }
}

@media only screen and (min-width: 900px) {
    .toggleButton {
        display: none; /* Hide the toggle button on larger screens */
    }
}

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: block; /* Ensure the toggle button is visible on smaller screens */
    }

    .links {
        display: none;
    }

    .navbar.expanded .links {
        display: flex; /* Show links when navbar is expanded */
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}
