.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 9%);
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* Center links horizontally and vertically */
.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#open {
    height: 100vh;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

#open a {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .navbar a {
        width: 70px;
        
    }

    .links {
        display: none;
    }

}

@media only screen and (min-width: 900px) {
    .toggleButton {
        display: none; /* Hide the toggle button on larger screens */
    }
}

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: block; /* Ensure the toggle button is visible on smaller screens */
        
    }

    .links {
        display: none;
    }

    #open {
        height: 100vh;
    }

    #open .links {
        flex-direction: row;
    }
}
